{
  "parser": "babel-eslint",
  "rules": {
    "no-unused-vars": "off",
    "class-methods-use-this": "off",
    "no-undef": "off",
    "comma-style": "warn",
    "no-console": "warn",
    "import/prefer-default-export": "off",
    "arrow-body-style": "warn",
    "no-case-declarations": "off"
  },
  "extends": [
    "airbnb-base",
    "prettier"
  ]
}